/* @media only screen and (max-width: 767px) {
  body {
    background-image: url(./images/volocile_200801_60.jpg);
  }
} */

/*スマホ画面でハンバーガーメニューの形にする*/
@media screen and (max-width: 812px) {
  #wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background: #fff;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2;
  }

  .scroll-bar {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    bottom: 20px;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
    color: #fff;
  }

  .scroll-bar span {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }

  .scroll-bar span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
  }

  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }

    40% {
      opacity: 1;
    }

    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes sdb {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }

    40% {
      opacity: 1;
    }

    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  #wrapper nav ul li {
    display: block;
    padding: 45px 20px;
    font-size: 30px;
  }

  .logo-main {
    text-align: center;
    display: block;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }

  .menu {
    position: static;
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .logo {
    display: none;
  }

  #wrapper nav ul li a {
    text-decoration: none;
    color: #000;
    float: left;
    margin: 0;
  }

  .font {
    display: inline-block;
    font-size: 30px;
    margin-top: 120px;
  }

  .font h6 {
    margin-left: 20px;
  }

  .font .fab {
    margin: 0 20px;
  }

  .logo-i {
    display: flow-root;
    text-align: center;
    color: #fff;
    /* margin-top: 44vh; */
  }

  /* .logo-i h3 {
    display: table;
  } */
  #wrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }

  #wrapper .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }

  #wrapper .btn-gnavi span:nth-child(1) {
    top: 0;
  }

  #wrapper .btn-gnavi span:nth-child(2) {
    top: 10px;
  }

  #wrapper .btn-gnavi span:nth-child(3) {
    top: 20px;
  }

  #wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  #wrapper .btn-gnavi.open span {
    background: #000;
  }

  #wrapper .btn-gnavi.open span {
    width: 24px;
  }

  #wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: #000;
    text-shadow: 0 0 6px #666;
  }

  #wrapper .contents section:nth-child(odd) p {
    left: 10%;
  }

  #wrapper .contents section:nth-child(even) p {
    right: 10%;
  }

  .center {
    vertical-align: middle;
    text-align: center;
  }

  .string {
    color: #ffffff;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  /* online storeのボタン */
  .btn-on {
    width: 100%;
  }

  .btn-on-1 {
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 6px 30px;
    background-color: #000;
    border-radius: 27px;
  }

  .header-on {
    text-align: center;
    margin-bottom: 60px;
  }

  .header-collect {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .img-ktg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    margin: auto;
    border: 1px;
    width: 100%;
  }

  /* womenとmenの画像 */
  .item {
    display: table;
    position: relative;
  }

  .item li {
    display: table-cell;
    height: auto;
    width: 50%;
    /* border: solid 1px rgb(162 162 162); */
  }

  .item img {
    width: 100%;
    height: auto;
  }

  /* タイトルの横線 */
  .title-border {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .title-border span {
    display: block;
    font-size: 17px;
  }

  .title-border:before,
  .title-border:after {
    border-top: 2px solid;
    content: "";
    flex-grow: 1;
  }

  .title-border:before {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: -6px;
  }

  .title-border:after {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: -6px;
  }

  /* SPRING $ SUMMERのテキスト */
  .season {
    position: relative;
  }

  .season div.text-season {
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(50% - 25px);
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
  }

  .season div.text-season .link-season {
    color: #fff;
    text-decoration: none;
    display: inline-block;
  }

  /* women'sのテキスト */
  .item ul li a.link-women {
    color: rgb(154, 154, 154);
    text-decoration: none;
    position: absolute;
    left: 24px;
    top: 60%;
    font-size: 21px;
    text-align: center;
  }

  .item ul li a span {
    display: block;
  }

  /* men'sのテキスト */
  .item ul li a.link-men {
    color: #fff;
    text-decoration: none;
    position: absolute;
    left: 67%;
    top: 60%;
    font-size: 21px;
  }
}